body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
}

h2 {
  color: #fff;
  text-align: center;
  font-size: 40px;
}



form {
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 20px;
  margin: 15px;
  color: #fff;
  text-transform: capitalize;

}

button {
  background-color: #ffc93c;
  border-color: #ffc93c;
  color: #fff;

}
.card {
background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
padding: 40px;
  );
}
.contrainer {
  width: 100%;
  padding: 30px 40px;
}

.search_city {
  position: relative;
  padding: 20px;
  margin: 0 auto;
  width: 300px;
}
.weather-icon {
  text-align: center;
  font-size: 60px;
}

.unit{
position: relative;
  font-size: 14px;
  top: -10px;
}
